

*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html{
  font-size: 62.5%;
}
body{
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

#ctx{
 border-radius: 2px;
 border: 1px solid #300 ;
 /* stroke: #F00; */
 background-color: #BBB;
 margin-bottom: 5px;
}
button{
  /* flex:1; */
  background-color: pink;
  border: none;
  width: 100px;
  height: 30px;
  border-radius: .3em;
  box-shadow: .5rem 1rem 2em  rgba(0,0,0, .15);
  transition: all .2s ease;
}
button:hover{
  transform: translateY(-2px);
  box-shadow: .5rem 1rem 2em  rgba(0,0,0, .1);
}
button:active{
  transform: translateY(-1px);
  box-shadow: .5rem 1rem 2em  rgba(0,0,0, .2);
}
button:focus{
  outline:none;
}
